.PageNavButton--wrapper {
  display: flex;
}

.PageNavButton {
  border: solid 1px transparent;
  background-color: #ebedf0;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  color: #677289;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 0.25rem;

  a,
  a:visited {
    color: inherit;
    text-decoration: none;
  }

  a:focus {
    outline: none;
  }
}

.PageNavButton__menu-button {
  appearance: none;
  padding: 0;
  background-color: transparent;
  border: none;
  visibility: hidden;
  outline: none;
  border-radius: 0.25rem;
  color: #9da4b2;
  cursor: pointer;

  /* &:hover, */
  &:focus-visible {
    background-color: rgba(0 0 0 / 0.1);
  }

  svg {
    /* Gross, but using quickly downloaded icons they aren't all visually centered. Would to go UX or fix the icon in real life */
    position: relative;
    top: 2px;
  }
}

.PageNavButton__icon {
  color: #9da4b2;

  svg {
    display: block;
  }
}

.PageNavButton.is-active,
/* .PageNavButton:has(:focus-visible), */
.PageNavButton:has(:focus) {
  color: #1a1a1a;
  background-color: white;
  border-color: #e1e1e1;
  box-shadow: var(--box-shadow);

  .PageNavButton__icon {
    color: #f59d0b;
  }
}

.PageNavButton.invisible {
  visibility: hidden;

  .PageNavButton__menu-button {
    /* children can TURN this on again in some cases, so need to override forcefully */
    visibility: hidden !important;
  }
}

.PageNavButton.is-active {
  .PageNavButton__menu-button {
    visibility: initial;
  }
}

.PageNavButton:has(:focus-visible) {
  border-color: #2f71e3;
  outline: solid 2px #c5d7f4;
}
